/* Secciones con bordes sutiles */
.uno, .dos, .tres {
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff8e3ec; /* Fondo claro */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Colores específicos para cada sección */
.uno {
    border-left: 5px solid #ca251f; /* Barra decorativa */
}

.dos {
    border-left: 5px solid #cf5e21; /* Barra decorativa */
}

.tres {
    border-left: 5px solid #2baf72; /* Barra decorativa */
}

/* Bordes en imágenes */
img {
    border: 1.5px solid #000000; /* Borde de una imagen */
    padding: 4px;
    border-radius: 12px;
}
